:root {
    --color1 : #c9e7ff;
    --color2: #FEB05D;
    --color3: #008dcf;
    --color4: #2B2A2A;
    --color5: #22b9ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: 18% 1fr;
}

header {
    background-color: white;
    grid-area: 1 / 2 / 2 / 3;
}

aside {
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--color3);
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    font-size: 1.1rem;
    padding-left: 1.1em;
    padding-right: 1.1rem;
    padding-top: 1.5rem;
}

main {
    background-color: blueviolet;
    grid-area: 2 / 2 / 3 / 3;
}

.flex {
    display: flex;
    align-items: center;
}

i {
    font-size: 1.1rem;
}

#dash-title i {
    font-size: 2.5rem;
}

#dash-title h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}


#menu-1, #menu-2 {
    margin-top: 3rem;
}

#menu-1 div, #menu-2 div {
    margin: 0.5rem 0;
    padding: 0.5rem 5px;
}

#menu-1 div:hover, #menu-2 div:hover {
    background-color: var(--color5);
}

#menu-1 p, #menu-2 p {
    margin-left: 1rem;
}

.search {
    width: 600px;
    height: 2rem;
    background-color: var(--color1);
    border-radius: 20px;
    margin-left: 1rem;
}

#head-1 {
    justify-content: space-between;
    padding: 1.5rem 2rem;
}

.profile {
    background-color: var(--color2);
    color: white;
    padding: 0.6rem;
    margin: 0 1rem;
    border-radius: 50%;
    border: 1px solid var(--color3);
}

#head-2 {
    padding: 0 2rem;
    justify-content: space-between;
}

.left {
    width: 65%;
}

.right {
    width: 35%;
    justify-content: space-between;
}

#profile {
    background-color: var(--color2);
    border-radius: 50%;
    padding: 1rem;
    border: 2px solid var(--color4);
    margin-right: 1rem;
}

#profile i {
    font-size: 3rem;
    color: white;
}

.btn {
    font-size: 1.1rem;
    font-family: inherit;
    padding: 0.5rem 1rem;
    background-color: var(--color3);
    color: white;
    border: none;
    border-radius: 30px;
    width: 100px;
}

.btn:hover {
    background-color: var(--color2);
    color: var(--color4);
}