:root {
    --color1 : #F5F2F2;
    --color2: #FEB05D;
    --color3: #008dcf;
    --color4: #2B2A2A;
    --color5: #22b9ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: 15% 1fr;
}

header {
    background-color: aqua;
    grid-area: 1 / 2 / 2 / 3;
}

aside {
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--color3);
    grid-area: 1 / 1 / 3 / 2;
    color: white;
    font-size: 1.1rem;
    padding-left: 1.1em;
    padding-right: 1.1rem;
    padding-top: 1.5rem;
}

main {
    background-color: blueviolet;
    grid-area: 2 / 2 / 3 / 3;
}

.flex {
    display: flex;
    align-items: center;
}

i {
    font-size: 1.1rem;
}

#dash-title i {
    font-size: 2.5rem;
}

#dash-title h1 {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}


#menu-1, #menu-2 {
    margin-top: 3rem;
}

#menu-1 div, #menu-2 div {
    margin: 0.5rem 0;
    padding: 0.5rem 5px;
}

#menu-1 div:hover, #menu-2 div:hover {
    background-color: var(--color5);
}

#menu-1 p, #menu-2 p {
    margin-left: 1rem;
}