:root {
    --color1 : #F5F2F2;
    --color2: #FEB05D;
    --color3: #008dcf;
    --color4: #2B2A2A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: 15% 1fr;
}

header {
    background-color: aqua;
    grid-area: 1 / 2 / 2 / 3;
}

aside {
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--color3);
    grid-area: 1 / 1 / 3 / 2;;
}

main {
    background-color: blueviolet;
    grid-area: 2 / 2 / 3 / 3;
}